<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<!--<link rel="stylesheet" type="text/css" href="style.css">-->
	</head>

	<body id="home">
		<div id="container">
			<header class="background-colour-black" id="name-and-tagline">
				<div class="header-content">
					<div class="col-12 row">
						<h1 id="home-title">STAT</h1>
					</div>
					<div class="col-12 row">
						<h6>Smart Time and Attendance Tracker</h6>
					</div>
					<div class="col-12 row">
						<p id="brought-to-you">Brought to you by Visionary</p>
					</div>
				</div>
			</header>

			<mat-card class="background-colour-yellow section" id="what-is-stat">
				<mat-card class="section-content">
					<mat-card-title>What is STAT</mat-card-title>
					<mat-card-content>
						<p>
							Harum corrupti possimus ex ratione cumque tenetur quidem eaque. Sunt ut facilis illo dolorem alias voluptas iste tempore. Dicta ut quasi sit delectus laboriosam et. Culpa eum eius consequatur sed temporibus sit in corporis.
						</p>
					</mat-card-content>
				</mat-card>
			</mat-card>
			
			<mat-card class="background-colour-green section" id="why-use-stat">
				<mat-card class="section-content">
					<mat-card-title>Why use STAT</mat-card-title>
					<mat-card-content>
						<p>
							Harum corrupti possimus ex ratione cumque tenetur quidem eaque. Sunt ut facilis illo dolorem alias voluptas iste tempore. Dicta ut quasi sit delectus laboriosam et. Culpa eum eius consequatur sed temporibus sit in corporis.
						</p>
					</mat-card-content>
				</mat-card>
			</mat-card>

			<mat-card class="background-colour-blue section" id="features">
				<mat-card class="section-content">
					<mat-card-title>Features</mat-card-title>
					<mat-card-content>
						<p>
							Harum corrupti possimus ex ratione cumque tenetur quidem eaque. Sunt ut facilis illo dolorem alias voluptas iste tempore. Dicta ut quasi sit delectus laboriosam et. Culpa eum eius consequatur sed temporibus sit in corporis.
						</p>
					</mat-card-content>
					<div>
						<button mat-raised-button color="primary"><a [routerLink]="['features']">View more</a></button>
					</div>
				</mat-card>
			</mat-card>
			
			<mat-card class="background-colour-purple section" id="desktop">
				<mat-card class="section-content">
					<mat-card-title>Desktop</mat-card-title>
					<mat-card-content>
						<p>
							Harum corrupti possimus ex ratione cumque tenetur quidem eaque. Sunt ut facilis illo dolorem alias voluptas iste tempore. Dicta ut quasi sit delectus laboriosam et. Culpa eum eius consequatur sed temporibus sit in corporis.
						</p>
					</mat-card-content>
					<div>
						<button mat-raised-button color="primary"><a [routerLink]="['desktop']">View more</a></button>
					</div>
				</mat-card>
			</mat-card>
			
			<mat-card class="background-colour-pink section" id="meet-the-team">
				<mat-card class="section-content">
					<mat-card-title>Meet the team</mat-card-title>
					<mat-card-content>
						<p>
							Harum corrupti possimus ex ratione cumque tenetur quidem eaque. Sunt ut facilis illo dolorem alias voluptas iste tempore. Dicta ut quasi sit delectus laboriosam et. Culpa eum eius consequatur sed temporibus sit in corporis.
						</p>
					</mat-card-content>
				</mat-card>
			</mat-card>

			<footer class="background-colour-black" id="name-and-tagline">
				<div>
					<button mat-raised-button color="accent"><a [routerLink]="['sign-in']">Sign In</a></button>
					<button mat-raised-button color="accent"><a [routerLink]="['sign-up']">Sign Up</a></button>
				</div>
			</footer>
		</div>
	</body>
