@font-face
  font-family: Chivo
  src: url(fonts/chivo/Chivo-Bold.ttf)

@font-face
  font-family: OpenSans
  src: url(fonts/open-sans/OpenSans-Regular.ttf)

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&family=PT+Mono&display=swap')

footer
  background-color: #4c585b
  color: white
  display: flex
  flex-direction: column
  height: auto
  max-width: 100%
  margin: 0em
  padding: 1em
  padding-top: 0em
  text-align: center
  width: 100%

  #teamLogo
    width: 8em
    display: inline-block

  #teamDetails
    position: absolute
    width: auto
    margin-left: 11em
    margin-top: 2em

  #teamName
    letter-spacing: 0.5em
    font-family: 'PT Mono', monospace
    font-size: 1.7em

  #teamSlogan
    margin-left: -0.7em
    font-size: 0.8em
    text-transform: uppercase

  #teamAbout
    position: absolute
    width: 40%
    margin-left: 50%
    margin-top: 2em
    text-align: right
    font-size: 0.8em

  #teamLinks
    position: absolute
    width: 2em
    margin-left: 91%
    margin-top: 2.8em

  a.teamLink
    border-radius: 100%
    color: #C8AC84
    font-size: 1.2em

    &:hover
      cursor: pointer
      color: #fff


  hr
    opacity: 0.5

