@font-face
{
	font-family: Chivo;
	src: url(fonts/chivo/Chivo-Bold.ttf);
}

@font-face
{
	font-family: OpenSans;
	src: url(fonts/open-sans/OpenSans-Regular.ttf);
}



*
{
	border-radius: 2px;
	font-family: OpenSans;
	font-size: 2vw;
	width: 100%;
}

body
{
	background-color: rgba(245, 245, 245, 1);
	background: url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=000000&density=15&opacity=15);
	margin: 0em auto;
	padding-bottom: 0em;
	width: 100%;
}


button
{
	background-color: #222222;
	border: none;
	border-radius: 2px;
	bottom: 3em;
	color: #FFFFFF;
	font-family: 0.95em;
	padding: 0.5em;
	right: 3em;
	text-transform: uppercase;
	width: 10em;
}

div #container
{
	left: 0;
	max-width: 100%;
	position: relative;
	text-align: center;
	top: 0;
	width: 100vw;
}

footer
{
	align-content: center;
	background-color: #222222;
	color: white;
	display: flex;
	flex-direction: column;
	max-height: 25vh;
	max-width: 100%;
	justify-content: center;
	margin: 0em;
	margin-top: 5em;
	padding: 2.5em;
	text-align: center;
	width: 100%;
}

footer button
{
	margin: 0em auto;
}

h1
{
	font-family: Chivo;
	font-size: 25vw;
	text-align: center;
	text-transform: uppercase;
}

h2
{
	font-family: Chivo;
	font-size: 450%;
	text-align: center;
	text-transform: uppercase;
}

h6
{
	font-family: Chivo;
	font-size: 3.5vw;
	text-align: center;
}

header
{
	align-content: center;
	background-color: #222222;
	color: white;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 100%;
	justify-content: center;
	margin: 0em;
	margin-bottom: 5em;
	padding: 2.5em;
	text-align: center;
	width: 100%;
}

.header-content
{
	align-content: center;
	background-color: #222222;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
}

p
{
	text-align: left;
}

p#brought-to-you
{
	text-align: center;
}

section
{
	background-color: black;
	height: auto;
	margin: 2.5em auto;
	margin-bottom: 3.5em;
	margin-top: 3.5em;
	max-width: 100%;
	padding: 2.5em;
	width: 85vw;
}

.section-content
{
	background-color: #FFFAFB;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 2.5em;
}

.background-colour-black
{
	/*background-color: #222222;*/
}

.background-colour-yellow
{
	background-color: #FCFC62;
}

.background-colour-green
{
	background-color: #a2fc62;
}

.background-colour-blue
{
	background-color: #7DE2D1;
}

.background-colour-purple
{
	background-color: #ac6ffc;
}

.background-colour-pink
{
	background-color: #fa8ef5;
}