<div class="row">
    <section class="col-12" id="header-row">
        <div class="col-12">
            <div class="col-6 float-left">
                <h2>Analysis</h2>
                <h3><mat-slide-toggle (click)="toggleAnalysis()">Predictive analysis</mat-slide-toggle></h3>
            </div>
            <div class="col-lg-6 col-12 float-right text-right">
                <mat-form-field appearance="standard" class="col-6" *ngIf="projectView">
                    <mat-label>Project</mat-label>
                    <mat-select>
                        <mat-option value="all" selected>All projects</mat-option>
                        <mat-option value="pid">Capstone</mat-option>
                        <mat-option value="pid">Bot Music</mat-option>
                        <mat-option value="pid">Game Design</mat-option>
                        <mat-option value="pid">CocaCola Rebranding</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard" class="col-6">
                    <mat-label>Date</mat-label>
                    <mat-select>
                        <mat-option value="week4" selected>This week</mat-option>
                        <mat-option value="week3">Last week</mat-option>
                        <mat-option value="week2">2 weeks ago</mat-option>
                        <mat-option value="week1">3 weeks ago</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-button-toggle-group id="viewToggle" appearance="legacy" name="view" aria-label="View data for"
                class="float-right">
                    <mat-button-toggle value="me" checked (click)="toggleView()">
                        <mat-icon>person</mat-icon>Me
                    </mat-button-toggle>
                    <mat-button-toggle value="project" (click)="toggleView()">
                        <mat-icon>people</mat-icon>Project
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </section>
    <section class="col-12">
        <div class="col-12 p-0">
            <div class="info col-12 p-0">
                <mat-card id="projects" class="col-2">
                <!-- number of hours for this week -->
                <b>14</b><br>PROJECTS
                </mat-card>
                <mat-card id="tasks" class="col-2">
                <!-- monetary value for this week -->
                <b>285</b><br>TASKS
                </mat-card>
                <mat-card id="overdue" class="col-2">
                    <!-- tasks overdue for this week??? -->
                    <b>5</b><br>OVERDUE
                </mat-card>
                <mat-card id="hours" class="col-2">
                <!-- number of hours for this week -->
                <b>38h 20m</b><br>HOURS
                </mat-card>
                <mat-card id="money" class="col-2">
                <!-- monetary value for this week -->
                <b>R 4086,25</b><br>EARNED
                </mat-card>
            </div>
        </div>
    </section>

    <!-- graphical analysis | me view -->
    <section class="col-12 row" *ngIf="graphical && meView">
        <div class="col-12 scroll">
            <div class="data-charts col-8 float-left p-0">
                <div class="data-card col-12">
                    <mat-card id="performance" class="col-12">
                        <mat-card-title>Performance (daily number of hours)</mat-card-title>
                        <!-- two lines: hours per day + monetary value per day -->
                        <mat-card-content>
                            <!--<figure class="css-chart" style="--widget-size: 200px;">
                            <ul class="line-chart">
                                <li style="--x: 20px; --y: 25.3333px;">
                                <div class="line-segment"
                                    style="--hypotenuse: 375.33333333333333; --angle:-23.07535558394876;"></div>
                                </li>
                            </ul>
                            </figure>-->
                            <canvas id="chart">
                                {{dailyChart}}</canvas>
                        </mat-card-content>
                        <mat-card-footer>
                            <p>Mean daily hours: {{meanDailyHours}}</p>
                            <p>Mean daily earnings: </p>
                        </mat-card-footer>
                    </mat-card>
                </div>
                <div class="data-card col-12">
                    <mat-card id="tasks-completed" class="col-12">
                        <mat-card-title>Tasks (tasks completed)</mat-card-title>
                        <!-- should incorporate overdue tasks -->
                        <mat-card-content>
                            <div class="chart">
                                <div class="bar-1"></div>
                                <div class="bar-2"></div>
                                <div class="bar-3"></div>
                                <div class="bar-4"></div>
                                <div class="bar-5"></div>
                                <div class="bar-6"></div>
                                <div class="bar-7"></div>
                            </div>
                            </mat-card-content>
                        <mat-card-footer>
                            <p>Mean daily tasks: </p>
                        </mat-card-footer>
                    </mat-card>
                </div>
                <div class="data-card col-12">
                    <mat-card id="project-status" class="col-12">
                        <mat-card-title>Projects summary</mat-card-title>
                        <mat-card-content>
                            <div class="mb-5">
                                <div class="col-6 float-left">
                                    <div class="col-12 d-inline-block">
                                        <div class="d-inline-block mx-1"
                                            style="background-color:deeppink; border-radius:1em; height:1em; width:1em;">
                                        </div><span>Completed</span>
                                    </div>
                                    <div class="col-12 d-inline-block">
                                        <div class="d-inline-block mx-1"
                                            style="background-color:yellow; border-radius:1em; height:1em; width:1em;">
                                        </div><span>In progress</span>
                                    </div>
                                    <div class="col-12 d-inline-block">
                                        <div class="d-inline-block mx-1"
                                            style="background-color:red; border-radius:1em; height:1em; width:1em;">
                                        </div><span>Overdue</span>
                                    </div>
                                    <div class="col-12 d-inline-block">
                                        <div class="d-inline-block mx-1"
                                            style="background-color:skyblue; border-radius:1em; height:1em; width:1em;">
                                        </div><span>Not started</span>
                                    </div>
                                </div>
                                <div class="col-6 float-right">
                                    <div class="pie"></div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <!-- DATA SUMMARY -->
            <div class="col-4 float-right data-summary p-0">
                <div class="data-card col-12">
                <mat-card id="risk-assessment" class="col-12">
                    <mat-card-title>Risk assessment</mat-card-title>
                    <ul>
                        <li>5 tasks overdue</li>
                        <li>4 projects overdue</li>
                    </ul>
                </mat-card>
                </div>
                <!--<div class="data-card col-12">
                <mat-card id="tasks-completed" class="col-12">
                    <mat-card-title>Team analysis (best and worst performers)</mat-card-title>
                    <p>Top performers</p>
                    <ul>
                    <li>Chadwick Boseman</li>
                    <li>Jason Momoa</li>
                    <li>Idris Elba</li>
                    </ul>
                    <p>Poor performers</p>
                    <ul>
                    <li>London Tipton</li>
                    <li>Sasha Grey</li>
                    <li>Scott McCall</li>
                    </ul>
                </mat-card>
                </div>-->
                <div class="data-card col-12">
                    <mat-card id="device-breakdown" class="col-12">
                        <mat-card-title>Devices (most used devices)</mat-card-title>
                        <!-- chart shows number of hours -->
                        <div>
                            <div class="pie"></div>
                        </div>
                        <br>
                        <div class="mb-5">
                            <div class="col-12">
                                <div class="d-inline-block mx-1" style="background-color:deeppink; border-radius:1em; height:1em; width:1em;"></div>
                                <span>Camera - Lobby</span>
                            </div>
                            <div class="col-12">
                                <div class="d-inline-block mx-1" style="background-color:yellow; border-radius:1em; height:1em; width:1em;"></div>
                                <span>Smart watch</span>
                            </div>
                            <div class="col-12">
                                <div class="d-inline-block mx-1" style="background-color:skyblue; border-radius:1em; height:1em; width:1em;"></div>
                                <span>Other</span>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="data-card col-12">
                    <mat-card id="activity-breakdown" class="col-12">
                        <mat-card-title>Activity breakdown (most used descriptions)</mat-card-title>
                        <!-- chart shows number of hours -->
                        <div>
                            <div class="pie"></div>
                        </div>
                        <br>
                        <div class="mb-5">
                            <div class="col-12">
                                <div class="d-inline-block mx-1" style="background-color:deeppink; border-radius:1em; height:1em; width:1em;"></div>
                                <span>www.mail.google.com</span>
                            </div>
                            <div class="col-12">
                                <div class="d-inline-block mx-1" style="background-color:yellow; border-radius:1em; height:1em; width:1em;"></div>
                                <span>www.library.up.ac.za</span>
                            </div>
                            <div class="col-12">
                                <div class="d-inline-block mx-1" style="background-color:skyblue; border-radius:1em; height:1em; width:1em;"></div>
                                <span>Other</span>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </section>

    <!-- graphical analysis | project view -->
    <section class="col-12 scroll" *ngIf="graphical && projectView">
        <div id="pid1" class="col-12 h-auto my-3">
            <h2 class="m-3">Project name</h2>
            <div class="data-charts col-8 float-left p-0">
                <div class="data-card col-12">
                    <mat-card id="performance" class="col-12">
                        <mat-card-title>Performance</mat-card-title>
                        <!-- two lines: hours per day + monetary value per day -->
                        <mat-card-content>
                            <figure class="css-chart" style="--widget-size: 200px;">
                                <ul class="line-chart">
                                    <li style="--x: 20px; --y: 25.3333px;">
                                        <div class="line-segment" style="--hypotenuse: 375.33333333333333; --angle:-23.07535558394876;"></div>
                                    </li>
                                </ul>
                            </figure>
                        </mat-card-content>
                        <mat-card-footer>
                            <p>Mean daily hours: </p>
                            <p>Mean daily earnings: </p>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </div>
            <!-- DATA SUMMARY -->
            <div class="col-4 float-right data-summary p-0">
                <div class="data-card col-12">
                    <mat-card id="risk-assessment" class="col-12">
                        <mat-card-title>Risk assessment</mat-card-title>
                        <ul>
                            <li>53% complete</li>
                            <li>3 tasks overdue</li>
                            <li>100 hrs accumulated</li>
                            <li>R 344,592.75 earned</li>
                        </ul>
                    </mat-card>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div id="pid2" class="col-12 h-auto my-3">
            <h2 class="m-3">Project name</h2>
            <div class="data-charts col-8 float-left p-0">
                <div class="data-card col-12">
                    <mat-card id="performance" class="col-12">
                        <mat-card-title>Performance</mat-card-title>
                        <!-- two lines: hours per day + monetary value per day -->
                        <mat-card-content>
                            <figure class="css-chart" style="--widget-size: 200px;">
                                <ul class="line-chart">
                                    <li style="--x: 20px; --y: 25.3333px;">
                                        <div class="line-segment" style="--hypotenuse: 375.33333333333333; --angle:-23.07535558394876;"></div>
                                    </li>
                                </ul>
                            </figure>
                        </mat-card-content>
                        <mat-card-footer>
                            <p>Mean daily hours: </p>
                            <p>Mean daily earnings: </p>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </div>
            <!-- DATA SUMMARY -->
            <div class="col-4 float-right data-summary p-0">
                <div class="data-card col-12">
                    <mat-card id="risk-assessment" class="col-12">
                        <mat-card-title>Risk assessment</mat-card-title>
                        <ul>
                            <li>53% complete</li>
                            <li>3 tasks overdue</li>
                            <li>100 hrs accumulated</li>
                            <li>R 344,592.75 earned</li>
                        </ul>
                    </mat-card>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div id="pid3" class="col-12 h-auto my-3">
            <h2 class="m-3">Project name</h2>
            <div class="data-charts col-8 float-left p-0">
                <div class="data-card col-12">
                    <mat-card id="performance" class="col-12">
                        <mat-card-title>Performance</mat-card-title>
                        <!-- two lines: hours per day + monetary value per day -->
                        <mat-card-content>
                            <figure class="css-chart" style="--widget-size: 200px;">
                                <ul class="line-chart">
                                    <li style="--x: 20px; --y: 25.3333px;">
                                        <div class="line-segment" style="--hypotenuse: 375.33333333333333; --angle:-23.07535558394876;"></div>
                                    </li>
                                </ul>
                            </figure>
                        </mat-card-content>
                        <mat-card-footer>
                            <p>Mean daily hours: </p>
                            <p>Mean daily earnings: </p>
                        </mat-card-footer>
                    </mat-card>
                </div>
          </div>
          <!-- DATA SUMMARY -->
            <div class="col-4 float-right data-summary p-0">
                <div class="data-card col-12">
                    <mat-card id="risk-assessment" class="col-12">
                        <mat-card-title>Risk assessment</mat-card-title>
                        <ul>
                            <li>53% complete</li>
                            <li>3 tasks overdue</li>
                            <li>100 hrs accumulated</li>
                            <li>R 344,592.75 earned</li>
                        </ul>
                    </mat-card>
                </div>
            </div>
        </div>
    </section>

    <!-- predictive analysis -->
    <section class="col-12" *ngIf="predictive">
        <div class="charts">
            <div class="data-card-row">
                <div class="data-card col-12 p-2">
                    <mat-card id="performance" class="col-12">
                        <mat-card-title>Performance (daily number of hours - for all projects?)</mat-card-title>
                        <!-- two lines: hours per day + monetary value per day -->
                        <mat-card-content>
                            <figure class="css-chart" style="--widget-size: 200px;">
                                <ul class="line-chart">
                                    <li style="--x: 20px; --y: 25.3333px;">
                                        <div class="line-segment" style="--hypotenuse: 375.33333333333333; --angle:-23.07535558394876;"></div>
                                    </li>
                                </ul>
                            </figure>
                        </mat-card-content>
                        <mat-card-footer>
                            <p>Mean daily hours: </p>
                            <p>Mean daily earnings: </p>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </div>
        </div>
    </section>
</div>
