

<table>
  <tr>
    <td>
    <img id= "Henry" src="./assets/Henry.jpg" alt="Henry" (click)="tracking('Henry')">
  </td>
  <td>
    <img id="Zendaya" src="./assets/Zendaya.jpg" alt="Zendaya" (click)="tracking('Zendaya')">
  </td>
  <td>
    <img id="Zac" src="./assets/Zac.jpg" alt="Zac" (click)="tracking('Zac')">
  </td>
</tr>
</table>


<style>
  /* The grid: Four equal columns that floats next to each other */

  
  /* Style the images inside the grid */
  img {
    opacity: 0.9;
    cursor: pointer;
    width: 300px;
    height: 300px;
  }
  
  img:hover {
    opacity: 1;
  }

  table{
    margin: auto;
  }
  
  </style>

