

<table>
  <tr>
    <td>
    <img id= "Vianka" src="./assets/Vianka.png" alt="Vianka" (click)="tracking('Vianka')">
  </td>
  <td>
    <img id="Jana" src="./assets/Jana.png" alt="Jana" (click)="tracking('Jana')">
  </td>
  <td>
    <img id="Jesse" src="./assets/Jesse.png" alt="Jesse" (click)="tracking('Jesse')">
  </td>
  <td>
    <img id="Mushi" src="./assets/Munashe.png" alt="Mushi" (click)="tracking('Mushi')">
  </td>
  <td>
    <img id="Vedha" src="./assets/Vedha.png" alt="Vedha" (click)="tracking('Vedha')">
  </td>
</tr>
</table>


<style>
  
 
  table td{
    background-color: black;
    border:"1";
    border-color:"white";
  }

  /* Style the images inside the grid */
  img {
    opacity: 0.9;
    cursor: pointer;
    width: 300px;
    height: 300px;
  }
  
  img:hover {
    opacity: 1;
  }

  table{
    margin: auto;
    margin-top: 60px;
  }
  
  </style>

