<div class="row">
    <section class="col-8">
        <h2>Projects
          <button *ngIf="roles.includes('Team Leader')" 
                  mat-mini-fab
                  class="start-tracking"
                  id="addPro" 
                  matTooltip="Add a project"
                  matTooltipClass="action-tooltip"
                  matTooltipPosition="right"
                  (click)="open(addProjectModal)">
            <mat-icon inline="true">add</mat-icon>
          </button>
        </h2>
        <div class="scroll">
            <div id="accordion-padding"></div>

            <mat-accordion>

            <!-- PROJECT **************************** -->
              <mat-expansion-panel *ngFor="let p of projects" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{p.projectName}}
                  <span class="tag numTasks">{{p.tasks.length}} tasks</span>
                  <button *ngIf="roles.includes('Team Leader')" 
                          mat-button class="pro-btn"
                          matTooltip="Edit"
                          matTooltipClass="pro-tooltip"
                          matTooltipPosition="above"
                          (click)="open(editProjectModal)">
                          <mat-icon inline="true">edit</mat-icon>
                  </button>
                  <button *ngIf="roles.includes('Team Leader')" 
                          mat-button class="pro-btn"
                          matTooltip="Delete"
                          matTooltipClass="pro-tooltip"
                          matTooltipPosition="above"
                          (click)="open(deleteProjectModal)">
                          <mat-icon inline="true">delete</mat-icon>
                  </button>
                  </mat-panel-title>
                  
                <span class="due-date float-right">Due July 21, 2020</span>      
                </mat-expansion-panel-header>
                
                <mat-divider></mat-divider><br>

                <!-- tasks -->
                <ul class="tasks">
                  <li *ngFor="let t of p.tasks">{{t.taskName}}
                    <button *ngIf="roles.includes('Team Leader')" 
                            mat-button class="pro-btn"
                            matTooltip="Edit"
                            matTooltipClass="pro-tooltip"
                            matTooltipPosition="above">
                            <mat-icon inline="true">edit</mat-icon>
                    </button>
                    <button *ngIf="roles.includes('Team Leader')" 
                            mat-button class="pro-btn"
                            matTooltip="Delete"
                            matTooltipClass="pro-tooltip"
                            matTooltipPosition="above">
                            <mat-icon inline="true">delete</mat-icon>
                    </button>
                     <span class="float-right">July 13, 2020</span> <span class="float-right tag" [ngClass]="{'tag-ns': t.taskStatus == 'Not Started'}">{{t.taskStatus}}</span>
                    <mat-divider></mat-divider>       
                  </li>
                </ul>
                <span *ngIf="roles.includes('Team Leader')" class="float-right"><button mat-button><mat-icon inline="true">add</mat-icon>New task</button></span>

                <!-- team -->
                <mat-action-row>
                  <img
                    matTooltip={{name}} 
                    matTooltipClass="pro-tooltip"
                    matTooltipPosition="below"
                    src="../../../assets/profilePicDefault.jpg" 
                    class="profile-pic" alt="Profile Picture">
                  <img
                    matTooltip="Zac Efron" 
                    matTooltipClass="pro-tooltip"
                    matTooltipPosition="below"
                    src="../../../assets/proPic1.jpg" 
                    class="profile-pic" alt="Profile Picture">
                  <img
                    matTooltip="Henry Cavill" 
                    matTooltipClass="pro-tooltip"
                    matTooltipPosition="below"
                    src="../../../assets/proPic2.jpg" 
                    class="profile-pic" alt="Profile Picture">
                    <button *ngIf="roles.includes('Team Leader')" 
                            mat-mini-fab
                            class="start-tracking addMember" 
                            matTooltip="Add team member"
                            matTooltipClass="pro-tooltip"
                            matTooltipPosition="below">
                      <mat-icon inline="true">add</mat-icon>
                    </button>
                </mat-action-row>
              </mat-expansion-panel>
            <!-- END PROJECT **************************************** -->

            <!-- PROJECT **************************** -->
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Capstone Project
                <span class="tag numTasks">3 tasks</span>
                </mat-panel-title>
              <span class="due-date float-right">Due October 21, 2020</span>                

              </mat-expansion-panel-header>

              <mat-divider></mat-divider>

              <!-- tasks -->
              <ul class="tasks">
                <li>API Calls <span class="float-right">July 13, 2020</span> <span class="float-right tag tag-c">Completed</span></li>
                <mat-divider></mat-divider>
                <li>UI Design <span class="float-right">July 18, 2020</span> <span class="float-right tag tag-ip">In progress</span></li>
                <mat-divider></mat-divider>
                <li>Unit Testing <span class="float-right">July 20, 2020</span> <span class="float-right tag tag-ns">Not started</span></li>
              </ul>

              <!-- team -->
              <mat-action-row>
                <img
                  matTooltip={{name}} matTooltipPosition="below"
                  src="../../../assets/profilePicDefault.jpg" 
                  class="profile-pic" alt="Profile Picture">
                <img
                  matTooltip="Zac Efron" matTooltipPosition="below"
                  src="../../../assets/proPic1.jpg" 
                  class="profile-pic" alt="Profile Picture">
                <img
                  matTooltip="Henry Cavill" matTooltipPosition="below"
                  src="../../../assets/proPic2.jpg" 
                  class="profile-pic" alt="Profile Picture">
              </mat-action-row>
            </mat-expansion-panel>
          <!-- END PROJECT **************************************** -->

        <!-- PROJECT **************************** -->
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              IMY App
            <span class="tag numTasks">3 tasks</span>
            </mat-panel-title>
          <span class="due-date float-right">Due July 21, 2020</span>                

          </mat-expansion-panel-header>

          <mat-divider></mat-divider><br>

          <!-- tasks -->
          <ul class="tasks">
            <li>UI Design <span class="float-right">July 13, 2020</span> <span class="float-right tag tag-c">Completed</span></li>
            <mat-divider></mat-divider>
            <li>Prototype <span class="float-right">July 16, 2020</span> <span class="float-right tag tag-c">Completed</span></li>
            <mat-divider></mat-divider>
            <li>Report <span class="float-right">July 19, 2020</span> <span class="float-right tag tag-ns">Not started</span></li>
          </ul>

          <!-- team -->
          <mat-action-row>
            <img
              matTooltip={{name}} matTooltipPosition="below"
              src="../../../assets/profilePicDefault.jpg" 
              class="profile-pic" alt="Profile Picture">
            <img
              matTooltip="Zac Efron" matTooltipPosition="below"
              src="../../../assets/proPic1.jpg" 
              class="profile-pic" alt="Profile Picture">
            <img
              matTooltip="Henry Cavill" matTooltipPosition="below"
              src="../../../assets/proPic2.jpg" 
              class="profile-pic" alt="Profile Picture">
              <button mat-mini-fab
                      class="start-tracking addMember" 
                      matTooltip="Add team member"
                      matTooltipPosition="below">
                <mat-icon inline="true">add</mat-icon>
              </button>
          </mat-action-row>
        </mat-expansion-panel>
      <!-- END PROJECT **************************************** -->

      <!-- PROJECT **************************** -->
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Fix My Life
          <span class="tag numTasks">3 tasks</span>
          </mat-panel-title>
        <span class="due-date float-right">Due August 26, 2020</span>                

        </mat-expansion-panel-header>

        <mat-divider></mat-divider><br>

        <!-- tasks -->
        <ul class="tasks">
          <li>Eat Nuggets <span class="float-right">July 17, 2020</span> <span class="float-right tag tag-c">Completed</span></li>
          <mat-divider></mat-divider>
          <li>Get Abs <span class="float-right">July 25, 2020</span> <span class="float-right tag tag-ip">In progress</span></li>
          <mat-divider></mat-divider>
          <li>Cure My Depression <span class="float-right">August 20, 2020</span> <span class="float-right tag tag-ns">Not started</span></li>
        </ul>

        <!-- team -->
        <mat-action-row>
          <img
            matTooltip={{name}} matTooltipPosition="below"
            src="../../../assets/profilePicDefault.jpg" 
            class="profile-pic" alt="Profile Picture">
          <img
            matTooltip="Zac Efron" matTooltipPosition="below"
            src="../../../assets/proPic1.jpg" 
            class="profile-pic" alt="Profile Picture">
          <img
            matTooltip="Henry Cavill" matTooltipPosition="below"
            src="../../../assets/proPic2.jpg" 
            class="profile-pic" alt="Profile Picture">
            <button mat-mini-fab
                    class="start-tracking addMember" 
                    matTooltip="Add team member"
                    matTooltipPosition="below">
              <mat-icon inline="true">add</mat-icon>
            </button>
        </mat-action-row>
      </mat-expansion-panel>
    <!-- END PROJECT **************************************** -->

            </mat-accordion>
        </div>
    </section>

    <section class="col-4">
      <h2>This Week</h2>
      <div class="info row">
        <div id="numTasks" class="col-4">
          <b>17</b><br>TASKS
        </div>
        <div id="numPro" class="col-4">
          <b>5</b><br>DONE
        </div>
        <div id="numTeams" class="col-4">
          <b>12</b><br>DUE
        </div>
      </div><br>

      <h2>Upcoming Tasks</h2>
        <div id="tasks">
          <ngb-carousel [showNavigationArrows]="false" interval="0">
            <ng-template ngbSlide>
              <div>
                <ul class="tasks">
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                </ul>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div>
                <ul class="tasks"> 
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                </ul>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div>
                <ul class="tasks"> 
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                </ul>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>

    </section>
</div>


<!-- ADD PROJECT *******************************-->

<ng-template #addProjectModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h2> Add a project
        <br><h4>Please enter the project details below</h4>
      </h2>
      <button (click)="modal.dismiss('Cross click')">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="addProjectForm">
        <mat-form-field appearance="standard" class="col-6">
          <mat-label>Project Name</mat-label>
          <input matInput formControlName="name" placeholder="My Project" name = "name" required>
          <mat-error>Please enter a value</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard" class="col-6">
          <mat-label>Due Date</mat-label>
          <input matInput type="date" formControlName="date" placeholder="My Project" name = "date" required>
          <mat-error>Please enter a value</mat-error>
        </mat-form-field>
      </form>
    </div>

    <div class="modal-footer">
      <button mat-raised-button color="primary" (click)="modal.close('Save click'); addProject(addProjectForm.value)">Create Project</button>
      <button mat-raised-button color="accent" (click)="modal.close('Save click')">Cancel</button>
    </div>

  </div>
</ng-template>

<!-- ****************************************** -->

<!-- EDIT PROJECT *******************************-->

<ng-template #editProjectModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h2> Edit project
        <br><h4>Please enter the new project details below</h4>
      </h2>
      <button (click)="modal.dismiss('Cross click')">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="editProjectForm">
        <mat-form-field appearance="standard" class="col-6">
          <mat-label>Project Name</mat-label>
          <input matInput formControlName="name" placeholder="My Project" name = "name" required>
          <mat-error>Please enter a value</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard" class="col-6">
          <mat-label>Due Date</mat-label>
          <input matInput type="date" formControlName="date" placeholder="My Project" name = "date" required>
          <mat-error>Please enter a value</mat-error>
        </mat-form-field>
      </form>
    </div>

    <div class="modal-footer">
      <button mat-raised-button color="primary" (click)="modal.close('Save click'); editProject(editProjectForm.value)">Save Changes</button>
      <button mat-raised-button color="accent" (click)="modal.close('Save click')">Cancel</button>
    </div>

  </div>
</ng-template>

<!-- ****************************************** -->

<!-- DELETE PROJECT *******************************-->

<ng-template #deleteProjectModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h2> Delete project
        <br>
      </h2>
      <button (click)="modal.dismiss('Cross click')">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="modal-body">
      Are you sure you want to delete this project?
    </div>

    <div class="modal-footer">
      <button mat-raised-button color="primary" (click)="modal.close('Save click'); deleteProject()">Yes</button>
      <button mat-raised-button color="accent" (click)="modal.close('Save click')">Cancel</button>
    </div>

  </div>
</ng-template>

<!-- ****************************************** -->