<div class="row">
    <section class="col-8">
        <h2>Projects
          <button mat-mini-fab
                      class="start-tracking"
                      id="addPro" 
                      matTooltip="Add a project"
                      matTooltipPosition="right">
                <mat-icon inline="true">add</mat-icon>
              </button>
        </h2>
        <div class="scroll">
            <div id="accordion-padding"></div>

            <mat-accordion>

            <!-- PROJECT **************************** -->
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Project Name
                  <span class="tag numTasks">3 tasks</span>
                  <button mat-button class="pro-btn"
                          matTooltip="Edit"
                          matTooltipClass="pro-tooltip"
                          matTooltipPosition="above">
                          <mat-icon inline="true">edit</mat-icon>
                  </button>
                  <button mat-button class="pro-btn"
                          matTooltip="Delete"
                          matTooltipClass="pro-tooltip"
                          matTooltipPosition="above">
                          <mat-icon inline="true">delete</mat-icon>
                  </button>
                  </mat-panel-title>
                  
                <span class="due-date float-right">Due July 21, 2020</span>      
                </mat-expansion-panel-header>
                
                <mat-divider></mat-divider><br>

                <!-- tasks -->
                <ul class="tasks">
                  <li>Task 1
                    <button mat-button class="pro-btn"
                            matTooltip="Edit"
                            matTooltipClass="pro-tooltip"
                            matTooltipPosition="above">
                            <mat-icon inline="true">edit</mat-icon>
                    </button>
                    <button mat-button class="pro-btn"
                            matTooltip="Delete"
                            matTooltipClass="pro-tooltip"
                            matTooltipPosition="above">
                            <mat-icon inline="true">delete</mat-icon>
                    </button>
                     <span class="float-right">July 13, 2020</span> <span class="float-right tag tag-c">Completed</span></li>
                  <mat-divider></mat-divider>
                  <li>Task 2 <span class="float-right">July 16, 2020</span> <span class="float-right tag tag-ip">In progress</span></li>
                  <mat-divider></mat-divider>
                  <li>Task 3 <span class="float-right">July 19, 2020</span> <span class="float-right tag tag-ns">Not started</span></li> 
                </ul>
                <span class="float-right"><button mat-button><mat-icon inline="true">add</mat-icon>New task</button></span>

                <!-- team -->
                <mat-action-row>
                  <img
                    matTooltip={{name}} 
                    matTooltipClass="pro-tooltip"
                    matTooltipPosition="below"
                    src="../../../assets/profilePicDefault.jpg" 
                    class="profile-pic" alt="Profile Picture">
                  <img
                    matTooltip="Zac Efron" 
                    matTooltipClass="pro-tooltip"
                    matTooltipPosition="below"
                    src="../../../assets/proPic1.jpg" 
                    class="profile-pic" alt="Profile Picture">
                  <img
                    matTooltip="Henry Cavill" 
                    matTooltipClass="pro-tooltip"
                    matTooltipPosition="below"
                    src="../../../assets/proPic2.jpg" 
                    class="profile-pic" alt="Profile Picture">
                    <button mat-mini-fab
                            class="start-tracking addMember" 
                            matTooltip="Add team member"
                            matTooltipClass="pro-tooltip"
                            matTooltipPosition="below">
                      <mat-icon inline="true">add</mat-icon>
                    </button>
                </mat-action-row>
              </mat-expansion-panel>
            <!-- END PROJECT **************************************** -->

            <!-- PROJECT **************************** -->
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Project Name
                <span class="tag numTasks">3 tasks</span>
                </mat-panel-title>
              <span class="due-date float-right">Due July 21, 2020</span>                

              </mat-expansion-panel-header>

              <mat-divider></mat-divider>

              <!-- tasks -->
              <ul class="tasks">
                <li>Task 1 <span class="float-right">July 13, 2020</span> <span class="float-right tag tag-c">Completed</span></li>
                <mat-divider></mat-divider>
                <li>Task 2 <span class="float-right">July 16, 2020</span> <span class="float-right tag tag-ip">In progress</span></li>
                <mat-divider></mat-divider>
                <li>Task 3 <span class="float-right">July 19, 2020</span> <span class="float-right tag tag-ns">Not started</span></li>
              </ul>

              <!-- team -->
              <mat-action-row>
                <img
                  matTooltip={{name}} matTooltipPosition="below"
                  src="../../../assets/profilePicDefault.jpg" 
                  class="profile-pic" alt="Profile Picture">
                <img
                  matTooltip="Zac Efron" matTooltipPosition="below"
                  src="../../../assets/proPic1.jpg" 
                  class="profile-pic" alt="Profile Picture">
                <img
                  matTooltip="Henry Cavill" matTooltipPosition="below"
                  src="../../../assets/proPic2.jpg" 
                  class="profile-pic" alt="Profile Picture">
              </mat-action-row>
            </mat-expansion-panel>
          <!-- END PROJECT **************************************** -->

          <!-- PROJECT **************************** -->
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Project Name
              <span class="tag numTasks">3 tasks</span>
              </mat-panel-title>
            <span class="due-date float-right">Due July 21, 2020</span>                

            </mat-expansion-panel-header>

            <mat-divider></mat-divider><br>

            <!-- tasks -->
            <ul class="tasks">
              <li>Task 1 <span class="float-right">July 13, 2020</span> <span class="float-right tag tag-c">Completed</span></li>
              <mat-divider></mat-divider>
              <li>Task 2 <span class="float-right">July 16, 2020</span> <span class="float-right tag tag-ip">In progress</span></li>
              <mat-divider></mat-divider>
              <li>Task 3 <span class="float-right">July 19, 2020</span> <span class="float-right tag tag-ns">Not started</span></li>
            </ul>

            <!-- team -->
            <mat-action-row>
              <img
                matTooltip={{name}} matTooltipPosition="below"
                src="../../../assets/profilePicDefault.jpg" 
                class="profile-pic" alt="Profile Picture">
              <img
                matTooltip="Zac Efron" matTooltipPosition="below"
                src="../../../assets/proPic1.jpg" 
                class="profile-pic" alt="Profile Picture">
              <img
                matTooltip="Henry Cavill" matTooltipPosition="below"
                src="../../../assets/proPic2.jpg" 
                class="profile-pic" alt="Profile Picture">
                <button mat-mini-fab
                        class="start-tracking addMember" 
                        matTooltip="Add team member"
                        matTooltipPosition="below">
                  <mat-icon inline="true">add</mat-icon>
                </button>
            </mat-action-row>
          </mat-expansion-panel>
        <!-- END PROJECT **************************************** -->

        <!-- PROJECT **************************** -->
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Project Name
            <span class="tag numTasks">3 tasks</span>
            </mat-panel-title>
          <span class="due-date float-right">Due July 21, 2020</span>                

          </mat-expansion-panel-header>

          <mat-divider></mat-divider><br>

          <!-- tasks -->
          <ul class="tasks">
            <li>Task 1 <span class="float-right">July 13, 2020</span> <span class="float-right tag tag-c">Completed</span></li>
            <mat-divider></mat-divider>
            <li>Task 2 <span class="float-right">July 16, 2020</span> <span class="float-right tag tag-ip">In progress</span></li>
            <mat-divider></mat-divider>
            <li>Task 3 <span class="float-right">July 19, 2020</span> <span class="float-right tag tag-ns">Not started</span></li>
          </ul>

          <!-- team -->
          <mat-action-row>
            <img
              matTooltip={{name}} matTooltipPosition="below"
              src="../../../assets/profilePicDefault.jpg" 
              class="profile-pic" alt="Profile Picture">
            <img
              matTooltip="Zac Efron" matTooltipPosition="below"
              src="../../../assets/proPic1.jpg" 
              class="profile-pic" alt="Profile Picture">
            <img
              matTooltip="Henry Cavill" matTooltipPosition="below"
              src="../../../assets/proPic2.jpg" 
              class="profile-pic" alt="Profile Picture">
              <button mat-mini-fab
                      class="start-tracking addMember" 
                      matTooltip="Add team member"
                      matTooltipPosition="below">
                <mat-icon inline="true">add</mat-icon>
              </button>
          </mat-action-row>
        </mat-expansion-panel>
      <!-- END PROJECT **************************************** -->

            </mat-accordion>
        </div>
    </section>

    <section class="col-4">
      <h2>This Week</h2>
      <div class="info row">
        <div id="numTasks" class="col-4">
          <b>17</b><br>TASKS
        </div>
        <div id="numPro" class="col-4">
          <b>5</b><br>DONE
        </div>
        <div id="numTeams" class="col-4">
          <b>12</b><br>DUE
        </div>
      </div><br>

      <h2>Upcoming Tasks</h2>
        <div id="tasks">
          <ngb-carousel [showNavigationArrows]="false" interval="0">
            <ng-template ngbSlide>
              <div>
                <ul class="tasks">
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                </ul>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div>
                <ul class="tasks"> 
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                </ul>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div>
                <ul class="tasks"> 
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                  <li><small>PROJECT <span class="float-right">Date</span> </small> <span>Task Description</span></li>
                </ul>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>

    </section>
</div>