*
  font-size: 1em

button
  margin-left: 1em
  margin-top: 1em

.container
  padding: 2em

h2
  font-size: 1.8em

mat-card
  background-color: white
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) !important
  display: inline-block
  margin-bottom: 1em
  margin-left: 3%
  margin-top: 1em
  padding: 1.5em
  padding-bottom: 2.25em
  width: 45%

mat-divider
  margin-bottom: 1.5em
  margin-top: 1.5em

mat-card-footer
  margin: 0.05em
  text-align: right

mat-card-title
  font-size: 1.25em

#requests
  padding: 2em

.row
  flex-direction: column
  padding: 2em

section
  padding: 2em
