<div class="row">
  <section id="organisation-header" class="col-6">
    <h2>Authorisation Requests</h2>
    <div class="info row p-0">
      <div *ngIf="requests && requests?.length == 1" id="total-requests" class="col-auto">
        <b>1</b><br>REQUEST
      </div>
      <div *ngIf="requests && (requests.length == 0 || requests.length > 1)" id="total-requests" class="col-auto">
        <b>{{requests.length}}</b><br>REQUESTS
      </div>
      
      <div class="col-8">
        <mat-form-field appearance="standard" class="col-10">
          <mat-label>Search Requests</mat-label>
          <input matInput type="search" type="text" placeholder="User details" name="searchRequests" [(ngModel)]="searchText" (keyup)="searchRequests(searchText)">
        </mat-form-field>

        <button mat-mini-fab id="sort-menu" 
                matTooltip="Sort"
                matTooltipClass="action-tooltip"
                matTooltipPosition="right"
                [matMenuTriggerFor]="menu">
          <mat-icon>sort</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="getAllUnauthenticatedUsers('a')">Alphabetically</button>
          <button mat-menu-item (click)="getAllUnauthenticatedUsers('o')">Date (oldest first)</button>
          <button mat-menu-item (click)="getAllUnauthenticatedUsers('n')">Date (newest first)</button>
        </mat-menu>
      </div>
      
    </div>
    <div id="requests" class="pr-3 row scroll">
      <mat-spinner *ngIf="!requests" class="req-spinner"></mat-spinner>
      <mat-card *ngFor="let r of searchRequests(searchText)" class="request">

          <!-- details -->
        <mat-card-title>{{r.name}} {{r.surname}}</mat-card-title>
        <mat-card-subtitle>{{r.email}}</mat-card-subtitle>
        
          <mat-divider [inset]="true"></mat-divider>
          <mat-card-footer class="px-3">

            <!-- accept -->
            <button mat-mini-fab class="accept-request"
                    matTooltip="Accept"
                    matTooltipClass="action-tooltip"
                    matTooltipPosition="below"
                    (click)="authenticateUser(r.ID)" id="accept">
              <mat-icon inline="true">check</mat-icon>
            </button>

            <!-- reject -->
            <button mat-mini-fab class="reject-request"
                    matTooltip="Reject"
                    matTooltipClass="action-tooltip"
                    matTooltipPosition="below"
                    (click)="rejectUser(r.ID)" id="reject">
              <mat-icon inline="true">close</mat-icon>
            </button>
          </mat-card-footer>
      </mat-card>

    </div>
  </section>

  <section class="col-6">
    
    <div id="members-div" class="info row p-0">
      <div class="col-8">
        <mat-form-field appearance="standard" class="col-12">
          <mat-label>Search Members</mat-label>
          <input matInput type="search" type="text" placeholder="User details" name="searchRequests" [(ngModel)]="searchMem" (keyup)="searchMembers(searchMem)">
        </mat-form-field>
      </div>      
      
      <div *ngIf="members && members?.length == 1" id="total-members" class="col-auto">
        <b>1</b><br>MEMBER
      </div>
      <div *ngIf="members && (members.length == 0 || members.length > 1)" id="total-members" class="col-auto">
        <b>{{members.length}}</b><br>MEMBERS
      </div>
    </div>

    <!-- members -->
    <div id="members" class="scroll">
      <aside id="alphabet" class="alphabet">
        <a class="active" (click)="filterMem('#')">#</a>
        <a class="" (click)="filterMem('A')">A</a>
        <a class="" (click)="filterMem('B')">B</a>
        <a class="" (click)="filterMem('C')">C</a>
        <a class="" (click)="filterMem('D')">D</a>
        <a class="" (click)="filterMem('E')">E</a>
        <a class="" (click)="filterMem('F')">F</a>
        <a class="" (click)="filterMem('G')">G</a>
        <a class="" (click)="filterMem('H')">H</a>
        <a class="" (click)="filterMem('I')">I</a>
        <a class="" (click)="filterMem('J')">J</a>
        <a class="" (click)="filterMem('K')">K</a>
        <a class="" (click)="filterMem('L')">L</a>
        <a class="" (click)="filterMem('M')">M</a>
        <a class="" (click)="filterMem('N')">N</a>
        <a class="" (click)="filterMem('O')">O</a>
        <a class="" (click)="filterMem('P')">P</a>
        <a class="" (click)="filterMem('Q')">Q</a>
        <a class="" (click)="filterMem('R')">R</a>
        <a class="" (click)="filterMem('S')">S</a>
        <a class="" (click)="filterMem('T')">T</a>
        <a class="" (click)="filterMem('U')">U</a>
        <a class="" (click)="filterMem('V')">V</a>
        <a class="" (click)="filterMem('W')">W</a>
        <a class="" (click)="filterMem('X')">X</a>
        <a class="" (click)="filterMem('Y')">Y</a>
        <a class="" (click)="filterMem('Z')">Z</a>
      </aside>

      <ul class="member-list" *ngFor="let m of membersResult" id="{{m.alphabet}}">
        <li class="list-alpha">{{m.alphabet}}</li>
        <li *ngFor="let r of m.records">
          <div *ngIf="r.profilePicture == 'none'" class="pro-pic">{{r.name[0]}}{{r.surname[0]}}</div>
          <img *ngIf="r.profilePicture != 'none'" src="assets/proPic3.jpg">
          <span>{{r.name}} {{r.surname}} <br> <i>{{r.email}}</i></span>
          <span *ngIf="r.role[0] != 'General Team Member'" class="float-right tag role">{{r.role[0]}}</span>
        </li>
      </ul>

      <!--<ul id="a">
        <li class="list-alpha">A</li>
        <li>
          <img src="assets/proPic3.jpg">
          <span>Adam Levine <br> <i>adam.lefine.af@gmail.com</i></span>
          <span class="float-right tag role">Team Lead</span>
        </li>
        <li>
          <img src="assets/proPic4.jpg">
          <span>Avan Jogia <br> <i>avan@gmail.com</i></span>
        </li>
      </ul>

      <ul id="a">
        <li class="list-alpha">B</li>
        <li>
          <img src="assets/proPic5.jpg">
          <span>Beyonce <br> <i>queen.bee@gmail.com</i></span>
          <span class="float-right tag role">System Administrator</span>
        </li>
      </ul>

      <ul id="a">
        <li class="list-alpha">C</li>
        <li>
          <img src="assets/proPic6.jpg">
          <span>Cara Delevinge <br> <i>cara@gmail.com</i></span>
        </li>
        <li>
          <img src="assets/proPic7.jpg">
          <span>Channing Tatum <br> <i>magicmike@gmail.com</i></span>
        </li>
        <li>
          <img src="assets/proPic8.jpg">
          <span>Chris Evans <br> <i>nocap@gmail.com</i></span>
          <span class="float-right tag role">Team Lead</span>
        </li>
        <li>
          <img src="assets/proPic9.jpg">
          <span>Chris Hemsworth <br> <i>christopher.hemmingsworth@gmail.com</i></span>
        </li>
      </ul>-->
    </div>

  </section>
</div>


