<div class="row">
  <section>
    <h2>Teams
      <button
              id="add-team"
              mat-mini-fab
              matTooltip="Add a team"
              matTooltipClass="action-tooltip"
              matTooltipPosition="right"
              (click)="open(addTeamModal)">
        <mat-icon inline="true">add</mat-icon>
      </button>
    </h2>
    <div class="info row">
      <div *ngIf="!teams" id="numTeams" class="col-auto">
        <b>-</b><br>TEAMS
      </div>
      <div *ngIf="teams && teams?.length == 1" id="numTeams" class="col-auto">
        <b>{{teams.length}}</b><br>TEAM
      </div>
      <div *ngIf="teams && (teams.length == 0 || teams.length > 1)" id="numTeams" class="col-auto">
        <b>{{teams.length}}</b><br>TEAMS
      </div>
      <!--<div id="numAssigned">
        <b>2</b><br>ASSIGNED
      </div>
      <div id="numWaiting">
        <b>1</b><br>WAITING
      </div>-->
    </div>


    <div class="scroll">
      <mat-spinner *ngIf="!teams" class="req-spinner"></mat-spinner>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let t of teams">
          <mat-expansion-panel-header>
            {{t.teamName}}
            <span class="tag numMembers">{{t.teamMembers.length}} members</span>
            <button mat-button class="teams-btn"
                    matTooltip="Edit"
                    matTooltipClass="teams-tooltip"
                    matTooltipPosition="above"
                    (click)="open(editTeamModal); tid = t.ID; editTeamMembers = t.teamMembers;">
                    <mat-icon inline="true">edit</mat-icon>
            </button>
            <button mat-button class="teams-btn"
                    matTooltip="Delete"
                    matTooltipClass="teams-tooltip"
                    matTooltipPosition="above"
                    (click)="open(deleteTeamModal); tid = t.ID; teamName = t.teamName">
                    <mat-icon inline="true">delete</mat-icon>
            </button>
          </mat-expansion-panel-header>
          <i *ngIf="t.teamMembers.length == 0">This team has no members.</i>
          <ul class="members">
            <li *ngFor="let m of t.teamMembers">
                <div *ngIf="m.profilePicture == 'none'" class="pro-pic proj"
                      matTooltip="{{m.name}} {{m.surname}} [{{m.role}}]"
                      matTooltipClass="pro-tooltip"
                      matTooltipPosition="below">{{m.name[0]}}{{m.surname[0]}}</div>

                <img *ngIf="m.profilePicture != 'none'" src="{{m.profilePicture}}" class="pro-pic proj"
                      matTooltip="{{m.name}} {{m.surname}}" 
                      matTooltipClass="pro-tooltip"
                      matTooltipPosition="below">
              <div class="col-10">
                <p>{{m.name}} {{m.surname}}
                  <span class="member-edit">
                    <button mat-button class="teams-btn"
                            matTooltip="Edit"
                            matTooltipClass="teams-tooltip"
                            matTooltipPosition="above"
                            (click)="open(editMemberModal); editMember = m; tid = t.ID;">
                            <mat-icon inline="true">edit</mat-icon>
                    </button>
                    <button mat-button class="teams-btn"
                            matTooltip="remove"
                            matTooltipClass="teams-tooltip"
                            matTooltipPosition="above"
                            (click)="open(removeMemberModal); tid = t.ID; mid = m.ID; memberName = m.name + ' ' + m.surname">
                            <mat-icon inline="true">remove_circle</mat-icon>
                    </button>
                  </span>
                  <span class="member-role tag">{{m.role}}</span>
                </p>
                <p>{{m.email}}</p>
              </div>
              <mat-divider></mat-divider>
            </li>
          </ul>
          <span class="float-right">
            <button mat-button (click)="open(addMemberModal); tid = t.ID; getAvailableMembers(t.teamMembers)">
              <mat-icon inline="true">add</mat-icon>New member
            </button>
          </span>
        </mat-expansion-panel>
  
      </mat-accordion>
    </div>
  </section>
</div>


<!-- ****************************************** MODALS ****************************************** -->

<!-- ****************************************** ADD MEMBER ****************************************** -->
<ng-template #addMemberModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h2> Add a member
        <br><h4>Please select a member to add</h4>
      </h2>
      <button (click)="modal.dismiss('Cross click')">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
        <div class="add-member">
          <mat-form-field color="accent" appearance="standard" class="col-12">
            <mat-label>Members</mat-label>
            <mat-select  placeholder="Search members" [multiple]="true" #multiSelect>
              <mat-option placeholder="Search members">
                <ngx-mat-select-search name="searchMember" ng-reflect-placeholder="Search" placeholder="Search" [showToggleAllCheckbox]="true" [(ngModel)]="searchMem" (keyup)="searchMembers(searchMem)"></ngx-mat-select-search>
              </mat-option>
              <mat-option class="member-button" *ngFor="let m of members" (click)="addMember(m)">
                <div *ngIf="m.profilePicture == 'none'" class="pro-pic">{{m.name[0]}}{{m.surname[0]}}</div>
                <img *ngIf="m.profilePicture != 'none'" class="pro-pic" src="{{m.profilePicture}}">
                <span>{{m.name}} {{m.surname}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-divider></mat-divider>
          <ul *ngIf="addMembers.length > 0" class="members-to-add">
            <li *ngFor="let m of addMembers">
              <div class="col-7">
                <div *ngIf="m.profilePicture == 'none'" class="pro-pic">{{m.name[0]}}{{m.surname[0]}}</div>
                <img *ngIf="m.profilePicture != 'none'" class="pro-pic" src="{{m.profilePicture}}">
                <span>{{m.name}} {{m.surname}}</span>

                <!-- role -->
                <mat-chip-list #chipList aria-label="member selection">
                  <mat-chip>
                    {{m.teamRole}}
                    <mat-icon matChipRemove (click)="m.teamRole = ''">cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>

              <mat-form-field class="example-chip-list" class="col-4 float-right">
                  <input matInput name="role-input"
                    placeholder="Add member role"
                    #memberInput
                    [matChipInputFor]="chipList"
                    [(ngModel)]="m.teamRole"
                    (keyup)="addRole(m, m.teamRole)"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option value="General Team Member" (click)="typeRole($event); m.teamRole = 'General Team Member'">
                    General Team Member
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-divider></mat-divider>
            </li>
          </ul>
        </div>
    </div>
    <div class="modal-footer">
      <button mat-raised-button color="primary" (click)="modal.close('Save click'); addMembersToTeam()">Add members</button>
      <button mat-raised-button color="accent" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </div>
</ng-template>


<!-- ****************************************** ADD TEAM ****************************************** -->
<ng-template #addTeamModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h2> Add a Team
        <br><h4>Please enter the team details below</h4>
      </h2>
      <button (click)="modal.dismiss('Cross click')">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="modal-body">
        <mat-form-field appearance="standard" class="col-12">
          <mat-label>Team Name</mat-label>
          <input matInput [(ngModel)]="teamName" placeholder="Team A" name = "name" required>
          <mat-error>Please enter a value</mat-error>
        </mat-form-field>
        <mat-divider></mat-divider>
        <h3>Add team members</h3>
        <div class="add-member">
          <mat-form-field color="accent" appearance="standard" class="col-12">
            <mat-label>Members</mat-label>
            <mat-select  placeholder="Search members" [multiple]="true" #multiSelect>
              <mat-option placeholder="Search members">
                <ngx-mat-select-search name="searchMember" placeholder="Search" [showToggleAllCheckbox]="true" [(ngModel)]="searchMem" (keyup)="searchMembers(searchMem)"></ngx-mat-select-search>
              </mat-option>
              <mat-option class="member-button" *ngFor="let m of allMembers" (click)="addMember(m)">
                <div *ngIf="m.profilePicture == 'none'" class="pro-pic">{{m.name[0]}}{{m.surname[0]}}</div>
                <img *ngIf="m.profilePicture != 'none'" class="pro-pic" src="{{m.profilePicture}}">
                <span>{{m.name}} {{m.surname}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-divider></mat-divider>
          <ul *ngIf="addMembers.length > 0" class="members-to-add">
            <li *ngFor="let m of addMembers">
              <div class="col-7">
                <div *ngIf="m.profilePicture == 'none'" class="pro-pic">{{m.name[0]}}{{m.surname[0]}}</div>
                <img *ngIf="m.profilePicture != 'none'" class="pro-pic" src="{{m.profilePicture}}">
                <span>{{m.name}} {{m.surname}}</span>

                <!-- role -->
                <mat-chip-list #chipList aria-label="member selection">
                  <mat-chip>
                    {{m.teamRole}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>

              <mat-form-field class="example-chip-list" class="col-4 float-right">
                  <input matInput name="role-input"
                    placeholder="Add member role"
                    #memberInput
                    [matChipInputFor]="chipList"
                    [(ngModel)]="m.teamRole"
                    (keyup)="addRole(m, m.teamRole)"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option value="General Team Member" (click)="typeRole($event)">
                    General Team Member
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-divider></mat-divider>
            </li>
          </ul>
        </div>
    </div>
    <div class="modal-footer">
      <button mat-raised-button color="primary" (click)="modal.close('Save click'); createTeam(teamName)">Create Team</button>
      <button mat-raised-button color="accent" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </div>
</ng-template>

<!-- ****************************************** EDIT TEAM ****************************************** -->
<ng-template #editTeamModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h2> Edit team
        <br><h4>Please edit the team details below</h4>
      </h2>
      <button (click)="modal.dismiss('Cross click')">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
        <div class="add-member">
          <p>REMOVE</p>
          <ul *ngIf="editTeamMembers.length > 0" class="members-to-add">
            <li *ngFor="let m of editTeamMembers" class="editing">
              <div class="col-7">
                <div *ngIf="m.profilePicture == 'none'" class="pro-pic">{{m.name[0]}}{{m.surname[0]}}</div>
                <img *ngIf="m.profilePicture != 'none'" src="{{m.profilePicture}}">
                <span>{{m.name}} {{m.surname}}</span>

                <!-- role -->
                <mat-chip-list #chipList aria-label="member selection">
                  <mat-chip>
                    {{m.role}}
                    <mat-icon matChipRemove (click)="m.role = ''">cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>

              <mat-form-field class="example-chip-list" class="col-4 float-right">
                  <input matInput name="role-input"
                    placeholder="Edit member role"
                    #memberInput
                    [matChipInputFor]="chipList"
                    [(ngModel)]="m.role"
                    (keyup)="editRole(m, m.role)"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option value="General Team Member" (click)="typeRole($event)">
                    General Team Member
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-checkbox class="example-margin" (click)="removeMember(m)"></mat-checkbox>

              <mat-divider></mat-divider>
            </li>
          </ul>
        </div>
    </div>
    <div class="modal-footer">
      <button mat-raised-button color="primary" (click)="modal.close('Save click'); removeMembersFromTeam(); editMemberRoles();">Save changes</button>
      <button mat-raised-button color="accent" (click)="modal.close('Save click');">Cancel</button>
    </div>
  </div>
</ng-template>

<!-- ****************************************** DELETE TEAM ****************************************** -->
<ng-template #deleteTeamModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h2> Delete {{teamName}}
        <br>
      </h2>
      <button (click)="modal.dismiss('Cross click')">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      Are you sure you want to delete this team?
    </div>
    <div class="modal-footer">
      <button mat-raised-button color="primary" (click)="modal.close('Save click'); deleteTeam(tid)">Yes</button>
      <button mat-raised-button color="accent" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </div>
</ng-template>

<!-- ****************************************** REMOVE MEMBER ****************************************** -->
<ng-template #removeMemberModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h2> Remove {{memberName}}
        <br>
      </h2>
      <button (click)="modal.dismiss('Cross click')">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      Are you sure you want to remove this member from the team?
    </div>
    <div class="modal-footer">
      <button mat-raised-button color="primary" (click)="modal.close('Save click'); removeTeamMember(tid, mid)">Yes</button>
      <button mat-raised-button color="accent" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </div>
</ng-template>

<!-- EDIT MEMBER -->
<ng-template #editMemberModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h2> Edit Team Member
        <br><h4>Please edit the details below</h4>
      </h2>
      <button (click)="modal.dismiss('Cross click')">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
        <div class="add-member">
          <ul class="members-to-add">
            <li class="editing">
              <div class="col-7">
                <div *ngIf="editMember.profilePicture == 'none'" class="pro-pic">{{editMember.name[0]}}{{editMember.surname[0]}}</div>
                <img *ngIf="editMember.profilePicture != 'none'" src="{{editMember.profilePicture}}">
                <span>{{editMember.name}} {{editMember.surname}}</span>

                <!-- role -->
                <mat-chip-list #chipList aria-label="member selection">
                  <mat-chip>
                    {{editMember.role}}
                    <mat-icon matChipRemove (click)="editMember.role = ''">cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>

              <mat-form-field class="example-chip-list" class="col-4 float-right">
                  <input matInput name="role-input"
                    placeholder="Edit member role"
                    #memberInput
                    [matChipInputFor]="chipList"
                    [(ngModel)]="editMember.role"
                    (keyup)="editRole(editMember, editMember.role)"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option value="General Team Member" (click)="typeRole($event)">
                    General Team Member
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-divider></mat-divider>
            </li>
          </ul>
        </div>
    </div>
    <div class="modal-footer">
      <button mat-raised-button color="primary" (click)="modal.close('Save click'); editMemberRoles();">Save changes</button>
      <button mat-raised-button color="accent" (click)="modal.close('Save click');">Cancel</button>
    </div>
  </div>
</ng-template>