<body>
<div id="wrapper" class="wrapper">

    <div class="main_body">
      <div class="sidebar_menu">
            <div class="inner__sidebar_menu bg-white">
              <ul>
                <li id="stat">
                  <h1>STAT</h1>
                </li>
              </ul>
              <ul>
                <li>
                  <a id="today" (click)="setActive('today')">
                    <span class="icon">
                      <mat-icon>alarm</mat-icon>
                    </span>
                    <span class="list">Tracking</span>
                  </a>
                </li>
                <li>
                  <a id="schedule" (click)="setActive('schedule')" class="prev">
                    <span class="icon">
                      <mat-icon>today</mat-icon>
                    </span>
                    <span class="list">Schedule</span>

                  </a>
                </li>
                <li>
                  <a id="projects" (click)="setActive('projects')">
                    <span class="icon">
                      <mat-icon>assignment</mat-icon>
                    </span>
                    <span class="list">Projects</span>
                  </a>
                </li>
                <li>
                  <a id="analysis" (click)="setActive('analysis')">
                    <span class="icon">
                      <mat-icon>bar_chart</mat-icon>
                    </span>
                    <span class="list">Analysis</span>
                  </a>
                </li>
                <li *ngIf="roles && roles.includes('Data Analyst')">
                    <a id="data" (click)="setActive('data')">
                        <span class="icon">
                          <mat-icon>timeline</mat-icon>
                        </span>
                        <span class="list">Data</span>
                    </a>
                </li>
                <li *ngIf="roles && (roles.includes('Data Analyst') || roles.includes('System Administrator'))">
                    <a id="iot" (click)="setActive('iot')">
                        <span class="icon">
                          <mat-icon>devices</mat-icon>
                        </span>
                        <span class="list">IOT Devices</span>
                    </a>
                </li>
                <li *ngIf="roles && roles.includes('Security Administrator')">
                  <a id="organisation" (click)="setActive('organisation')">
                    <span class="icon">
                      <mat-icon>supervisor_account</mat-icon>
                    </span>
                    <span class="list">Organisation</span>
                  </a>
                </li>
              </ul>

              <div id="hamburger" class="hamburger">
                <div class="inner_hamburger">
                    <span class="arrow">
                      <mat-icon class="left">chevron_left</mat-icon>
                      <mat-icon class="right">chevron_right</mat-icon>
                    </span>
                </div>
            </div>
            </div>
        </div>

        <!-- dashboard -->
        <div class="container">
          <app-today *ngIf="active=='today'"></app-today>
          <app-projects *ngIf="active=='projects'"></app-projects>
          <app-organisation *ngIf="active=='organisation'"></app-organisation>
        </div>

    </div>
  </div>

</body>
