.btn
    display: inline !important
    float: right

*
  margin: 0
  padding: 0
  list-style: none
  box-sizing: border-box
  text-decoration: none

body
  background-color: #dbe4f3 !important
  width: 100%
  height: 100%



.main_body
  .sidebar_menu
    position: fixed
    left: 0
    width: 15em
    height: 100%
    transition: all 0.3s linear

    .inner__sidebar_menu
      position: relative

    ul li a
      color: #fff
      font-size: 1em
      padding: 1em 1.5em
      display: block
      white-space: nowrap
      border-left: 0.3em solid #333

      .icon
        margin-right: 0.5em
        font-size: 1em
        vertical-align: middle

      span
        display: inline-block

      &:hover
        background: #222
        color: #fff
        cursor: pointer
        border-left: 0.3em solid #fff

      &.active
        background: rgba(255, 255, 255, 0.3)
        color: #fff
        border-left: 0.3em solid #fff

    .hamburger
      position: absolute
      top: 0px
      right: -25px
      width: 50px
      height: 50px
      background: #fff
      border-radius: 50%
      cursor: pointer

    .inner_hamburger, .hamburger .arrow
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

    .inner_hamburger
      width: 40px
      border-radius: 50%
      height: 40px
      background: #333

    .hamburger
      .arrow
        color: #fff
        font-size: 20px

    .right
      display: none

  .container
    width: calc(100% - 17em)
    margin-left: 17em
    padding: 1em
    transition: all 0.5s ease-in-out

    .item_wrap
      display: flex
      margin-bottom: 1em

    .inner
      background-color: rgba(240, 240, 240, 0.7)
      border-radius: 0.3em
      padding: 2em
      font-size: 1em
      line-height: 22px

    .item
      padding: 1em

/* after adding active class */

.wrapper.open
  .sidebar_menu
    width: 5.5em

  .hamburger
    .right
      display: inline-block

    .left
      display: none

  .sidebar_menu ul li a .list
    display: none

  .main_body .container
    width: calc(100% - 7.5em)
    margin-left: 7.5em

  h1
    visibility: hidden
    transition: all 0.3s ease-in-out

  .icon
    align: center


h1
  color: #fff
  padding-top: 0.5em
  padding-left: 1em

#addEntry
  float: right
  margin-top: 0.5em

.badge
  padding: 0.5em
