* {
  font-size: 1em;
}

#start, #stop {
  font-size: 0.9em;
  padding: 0.95em;
  width: 5em;
}

.loginInput {
  width: 12em;
}

#popupPage {
  display: none;
}

#login {
  display: none;
}

#select_task_form {
  display:none;
}

#selected_task {
  display: none;
}

#select_task {
  font-size: 0.9em;
  padding: 0.95em;
  width: 7em;
}

.jumbotron {
  background-color: rgba(0,0,0,0);
}

.row {
  margin: 0.25em;
  padding: 1.5em;
}

.display-4-modified {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.form-group-modified {
  margin-bottom: 1rem;
  padding-bottom: 1.5em;
}