.modal-header button:focus {
    border: none !important;
    outline: none;
    background-color: transparent;
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}