.modal-header button:focus {
    border: none !important;
    outline: none;
    background-color: transparent;
}

.modal-footer button {
    margin-left: 0.5em;
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}