<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['home']">
        <img src="https://img.icons8.com/bubbles/2x/overtime.png" width="50" height="50" alt="" loading="lazy">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['home']">Home</a>
        <a class="nav-item nav-link" [routerLink]="['features']">Features</a>
        <a class="nav-item nav-link" [routerLink]="['desktop']">STAT Desktop</a>
        <a class="nav-item nav-link" [routerLink]="['sign-up']">Sign Up</a>
        </div>      
    </div>
    <a class="btn btn-outline-info text-white" [routerLink]="['sign-in']">Sign In</a>
</nav>
