*
  font-size: 1em

h1
  font-size: 2.5em
  font-weight: bolder

h2
  font-size: 1.8em

h3
  font-size: 1.25em

.column
  display: inline-block
  padding: 2em
  margin-bottom: 2em

.float-left
  float: left

mat-card
  margin-bottom: 1em
  margin-top: 1em
  margin-right: 1em
  padding: 1.5em
  padding-bottom: 2.25em
  background-color: rgba(240, 240, 240, 0.2)
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) !important

mat-card-footer
  color: #808080
  margin: 0.05em
  padding-bottom: 0.5em
  padding-top: 0.5em

mat-card-title
  font-size: 1.25em

mat-divider
  margin-bottom: 1.5em
  margin-top: 1.5em

section
  padding: 1.5em

.section-divider
  margin-bottom: 3em
  margin-top: 3em

button
  font-size: 1.5em

.stop-tracking
  color: white
  background-color: #ff2885
  vertical-align: middle
  float: right
  left: 2em

.start-tracking
  color: white
  background-color: #28ccbf
  vertical-align: middle
  float: right
  left: 2em
  top: -1.6em

#addEntry
  background-color: #7846eb

.tag
  padding: 0.2em 0.5em
  border-radius: 0.8em
  color: #28ccbf
  background-color: #28ccbf30
  font-size: 0.8em
  float: left

.tag-1
  color: #366ceb
  background-color: #366ceb30

.tag-2
  color: #ff2885
  background-color: #ff288530

.pro
  margin-right: 0.2em
  float: left

.scroll
  overflow-x: hidden
  overflow-y: scroll
  padding: 0 1.5em 0 0.8em
  height: 65vh

.scroll::-webkit-scrollbar
  border-radius: 0.5em
  background-color: #eeeeee
  width: 0.5em

.scroll::-webkit-scrollbar-track::hover
  cursor: pointer


.scroll::-webkit-scrollbar-thumb
  border-radius: 0.5em
  background-color: #cccccc

.scroll::-webkit-scrollbar-track
  border-radius: 0.5em
  background-color: #eeeeee

#auto-tracking mat-card
  margin-bottom: 0
  margin-top: 0
  padding-bottom: 0.8em

  mat-divider
    margin-top: 0.5em
    margin-bottom: -0.5em

div.col-5.column
  margin-bottom: 0

.numEntries
  float: right
  margin-right: 1em

#history .scroll
  margin-left: 0
  margin-bottom: 0
  padding-bottom: 0.5em
  height: 57vh

#history h3
  color: #808080
  font-style: italic
  
.entries
  padding-left: 0.3em
  list-style-type: none

.entries li 
  margin-bottom: 0.8em
  padding-bottom: 0.3em
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.12)

.pro-name
  color: #808080