*
  font-size: 1em

h1
  font-size: 2.5em
  font-weight: bolder

h2
  font-size: 1.8em

h3
  font-size: 1.25em

.column
  display: inline-block
  padding: 2em
  margin-bottom: 2em

.float-left
  float: left

mat-card
  margin-bottom: 1em
  margin-top: 1em
  padding: 1.5em
  padding-bottom: 2.25em

mat-card-footer
  color: #808080
  margin: 0.05em
  padding-bottom: 0.5em
  padding-top: 0.5em

mat-card-title
  font-size: 1.25em

mat-divider
  margin-bottom: 1.5em
  margin-top: 1.5em

section
  padding: 1.5em

.section-divider
  margin-bottom: 3em
  margin-top: 3em
