<body>
    <div id="container">
        <section class="background-green" id="features">
            <div class="section-content">
                <h2>Features</h2>
                <div id="feature-cards">
                    <mat-card class="feature">
                        <div class="col-6 feature-image">
                            <img mat-card-image src="././././assets/images/feature-automatic.png">
                        </div>
                        <div class="col-6 feature-description">
                            <mat-card-title>Automatic Tracking</mat-card-title>
                            <mat-card-content>
                                STAT makes it easy track time spent on activities via the dashboard and using hot keys.
                                STAT will record the total time spent on these activities.
                            </mat-card-content>
                        </div>
                    </mat-card>
                    <mat-card class="feature">
                      <div class="col-6 feature-image">
                        <img mat-card-image src="././././assets/images/feature-manual.png">
                      </div>
                      <div class="col-6 feature-description">
                        <mat-card-title>Manual Tracking</mat-card-title>
                        <mat-card-content>
                          Prefer the pen and paper method? No problem. Track your time and monetary expenditure any way
                          you like and simply use those details to create a time entry.
                        </mat-card-content>
                      </div>
                    </mat-card>
                    <mat-card class="feature">
                      <div class="col-6 feature-image">
                        <img mat-card-image src="././././assets/images/feature-calendar.png">
                      </div>
                      <div class="col-6 feature-description">
                        <mat-card-title>Calendar Syncing</mat-card-title>
                        <mat-card-content>
                          STAT tracks your time and attendance using your calendar entries. No need to worry about
                          recording events in more than one place. STAT will retrieve the data from your calendar and
                          automatically record the relevant time data.
                        </mat-card-content>
                      </div>
                    </mat-card>
                    <mat-card class="feature">
                      <div class="col-6 feature-image">
                        <img mat-card-image src="././././assets/images/feature-iot.png">
                      </div>
                      <div class="col-6 feature-description">
                        <mat-card-title>IOT Integration</mat-card-title>
                        <mat-card-content>
                          You can use STAT almost anywhere. STAT is designed to work with external devices like cameras
                          to help you track time and attendance more efficiently. Simply connect your IOT device to the
                          system and STAT will use the data from the device, and track your attendance
                          accordingly.
                        </mat-card-content>
                      </div>
                    </mat-card>
                    <mat-card class="feature">
                      <div class="col-6 feature-image">
                        <img mat-card-image src="././././assets/images/feature-predictive.png">
                      </div>
                      <div class="col-6 feature-description">
                        <mat-card-title>Predictive Analysis</mat-card-title>
                        <mat-card-content>
                          STAT produces graphs that allow you to view how time was spent during the course of a project
                          and help to manage your team better. Using historical data, STAT can estimate how many hours
                          will be spent on a project in the coming week.
                        </mat-card-content>
                      </div>
                    </mat-card>
                    <mat-card class="feature">
                      <div class="col-6 feature-image">
                        <img mat-card-image src="././././assets/images/feature-project.png">
                      </div>
                      <div class="col-6 feature-description">
                        <mat-card-title>Project Management</mat-card-title>
                        <mat-card-content>
                          You can manage your projects, tasks, and teams. STAT's dashboard makes it easy to see upcoming
                          due dates, tracking history, and overdue tasks and projects.
                        </mat-card-content>
                      </div>
                    </mat-card>
                    <mat-card class="feature">
                      <div class="col-6 feature-image">
                        <img mat-card-image src="././././assets/images/feature-organisation.png">
                      </div>
                      <div class="col-6 feature-description">
                        <mat-card-title>Organisation Management</mat-card-title>
                        <mat-card-content>
                          Authentication requests are automatically sent to your administrator each time a new user
                          registers, which allows you to control who has access to your system by accepting and
                          rejecting requests. You can also control what information and functionality each user has
                          using STAT's role assignment functionality.
                        </mat-card-content>
                      </div>
                    </mat-card>
                    <mat-card class="feature">
                      <div class="col-6 feature-image">
                        <img mat-card-image src="././././assets/images/feature-impex.png">
                      </div>
                      <div class="col-6 feature-description">
                        <mat-card-title>Import/Export Functionality</mat-card-title>
                        <mat-card-content>
                          STAT accepts tracking data in various formats so you can track how you spend your time any way
                          you want. When you import CSV or JSON data, STAT automatically creates the time entries for
                          you. You can even export all of your tracking data to a JSON, CVS, or PDF file.
                        </mat-card-content>
                      </div>
                    </mat-card>
                    <mat-card class="feature">
                        <div class="col-6 feature-image">
                            <img mat-card-image src="././././assets/images/feature-desktop.PNG">
                        </div>
                        <div class="col-6 feature-description">
                            <mat-card-title>Desktop App</mat-card-title>
                            <mat-card-content>
                                Automatically track desktop activity using STAT's dashboard app. STAT will keep track of the apps you used and for how long as soon as you start tracking.
                            </mat-card-content>
                        </div>
                    </mat-card>
                    <mat-card class="feature">
                      <div class="col-6 feature-image">
                        <img mat-card-image src="././././assets/images/feature-plugin.png">
                      </div>
                      <div class="col-6 feature-description">
                        <mat-card-title>Chrome Plug-in</mat-card-title>
                        <mat-card-content>
                          Automatic tracking is even easier with the STAT plug-in, which automatically starts tracking
                          when you open your browser. All you have to do is classify the entry so that STAT knows where
                          to put it.
                        </mat-card-content>
                      </div>
                    </mat-card>
                </div>
            </div>
        </section>
    </div>
</body>